/* Custom Styles */
#wrapper {
  display: flex;
  width: 100%;
}

#sidebar-wrapper {
  min-width: 250px;
}

#page-content-wrapper {
  flex-grow: 1;
}

.container-fluid {
  padding-top: 20px;
}

.sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
