<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Publish Year</th>
      <th scope="col">Category</th>
      <th scope="col">Reserve</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books ">
      <td>{{ book.name }}</td>
      <td>{{ book.author.fullName }}</td>
      <td>{{ book.publishYear }}</td>
      <td>{{ book.category.name }}</td>
      <td>
        <button class="btn btn-primary" (click)="reserveBook(book.id)">Reserve</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

