<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Library Application</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <!-- Show login link if user is not logged in -->
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>

        <!-- Show home and my activities links if user is logged in and not admin -->
        <li *ngIf="isLoggedIn && !isAdmin" class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li *ngIf="isLoggedIn && !isAdmin" class="nav-item">
          <a class="nav-link" routerLink="/my-activities">My Activities</a>
        </li>

        <!-- Show user management and admin home if the user is admin -->
        <li *ngIf="isLoggedIn && isAdmin" class="nav-item">
          <a class="nav-link" routerLink="/admin">User Management</a>
        </li>


        <!-- Show logout button if user is logged in -->
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
